<h1>Fill in the URL:</h1>
<form action="/bookmarks/new" method="post">
  <label for="title">
    TITLE
    <input type="text" name="title">
  </label>

  <label for="url">
    URL
    <input type="text" name="url">
  </label>
  
  <input type="submit" value="Submit">
</form>