<h1>New Tag:</h1>
<form action="/bookmarks/<%= @bookmark_id %>/tags" method="post">
  <label for="tag">
    TAG
    <input type="text" name="tag">
  </label>
  
  <input type="submit" value="Submit">
</form>